# node_modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# env files
.env
!.env.example

# MacOS files
.DS_Store

# Build output
dist/
build/

# Temporary files
tmp/
temp/

/src/generated/prisma
